{% extends "base.html" %}

{% block content %}
    <div class="bg-secondary" style="border-radius: 5px; padding-top: 20px; padding-right: 20px; padding-left: 20px; padding-bottom: 200px; margin-bottom: 10px;">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div>
            <h4 style="text-light">{{post.title}}</h4>
            <p style="text-light padding-bottom: 20px;">{{post.content}}</p>
            </div>
            <a href="{% url 'songs_detail' post.song.id %}" class="card-link">
                <div class="card position-relative" style="border: none; border-radius: 20px; overflow: hidden; background: linear-gradient(to bottom, #0d0d0d, #323235); color: #ffffff;">
                    <img src="https://i.imgur.com/aVgqvCC.jpeg" class="card-img-top" alt="...">
                    <div class="card-body position-absolute bottom-0 w-100 bg-dark" style="opacity: 0.8;">
                        <h5 class="card-title">{{ post.song.name }}</h5>
                        <small class="card-text">By {{ post.song.artist }}</small>
                        <p class="card-text"><small class="text-muted">Released on {{ post.song.release_date }}</small></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="card-header">
        <span class="text-secondary">Posted by: {{user.username}} </span>  
    </div>
{% endblock  %}

