{% extends "base.html" %}
{% block content %}
    <h1>Song Detail</h1>
    <div>
        <div>
            <span>Artist: {{song.artist}} </span>
            <p>Name: {{song.name}} </p>
            <p>Release Date: {{song.release_date}} </p>
        </div>

        <div>
            <h1>Gear Used</h1>
            {% if song.gear_used.count %}
                {% for gear in song.gear_used.all  %}
                    <div class="gear-item">
                        <span>{{gear.gear_brand}} {{gear.gear_name}} </span>
                        <form action=" {% url 'unassoc_gear' song.id gear.id %} " method="POST">
                            {% csrf_token %}
                            <button type="submit" >Remove</button>
                        </form>
                    </div>
                    
                {% endfor %}
            {% else %}
            <h5>No Gear Added Yet</h5>
            {% endif %}
        </div> 
            <div>
                <h3>Add Gear</h3>
                    {% for gear in gear_used.all %}
                    <div class="gear-item">
                        <span>{{gear.gear_brand}} {{gear.gear_name}} </span>
                        <form action=" {% url 'assoc_gear' song.id gear.id %} " method="POST">
                            {% csrf_token %}
                            <button type="submit">Add</button>
                        </form>
                    </div>
                    {% endfor %}
            </div>
        <div>
            <button><a href=" {% url 'songs_update' song.id %} ">Edit Song</a></button>
            <button><a href=" {% url 'songs_delete' song.id %} ">Delete Song</a></button>
        </div>
    </div>

{% endblock %}