{% extends 'base.html' %}

{% block content %}
{% load static %}
<h1 class="greeting">Greetings, Gear Sleuths!</h1>



<div id="carouselExampleDark" class="carousel carousel-light slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="8000">
      <img src="{% static 'main_app/images/She_Past_Away.jpeg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.7);">
        <h5>She Past Away</h5>
        <p>She Past Away uses Alesis SAMPLEPAD PRO for triggering live drum samples </p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="8000">
      <img src="{% static 'main_app/images/Boy_Harsher.jpeg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Boy Harsher</h5>
        <p>Augustus Muller uses the Sequential Prophet X 61 to incorperate a moody and cinematic quality to their sound </p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="8000">
      <img src="{% static 'main_app/images/Tommy.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Tommy Wright III</h5>
        <p>Tommy Wright III can often be found sampling Roland's TR-808 for his agressive and sparse drum machine heavy beats </p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class=" greeting-card container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="text-left">
        <p class="lead">Welcome to Sampology,</p>
        <p class="lead">the community hub where musicians gather to discover the tools that shape the soundscapes of their favorite artists.</p>
        <p>Whether you're seeking to emulate the ethereal tones of Cocteau Twins or the gritty punch of Black Sabbath, Sampology is the place to be.</p>
        <p>Create a post and ask the community to help you uncover the gear that will elevate your sound to the next level.</p>
        <p>Join us on this sonic journey and let's explore the world of music together!</p>
      </div>
    </div>
  </div>
</div>

  <div class="d-flex justify-content-end pt-2 mb-4">
    <button type="button" class="btn btn-dark ms-auto" data-bs-toggle="modal" data-bs-target="#postModal">Create Post</button>
  </div>
  
  <div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="bg-dark modal-content">
        <div class="modal-header">
          <h5 class=" modal-title" id="exampleModalLabel">Create Post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'create_post' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              {{ posts_form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% for item in post %}
  <a href="{% url 'post_detail' item.id %}" class="text-light" >
  <div class="post-card card mb-0 bg-dark border border-secondary" style=" border-radius: 0px;">
    <div class="card-header">
      <small class="text-secondary">Posted by: {{item.user.username}} </small>  
    </div>
    <div class="card-header" style="background: #32323589;">
      {{ item.title }}
    </div>
    <div class=" card-body pb-4" style="background: #32323589;">
      <blockquote class="blockquote mb-0">
        <p>{{ item.content }}</p>
        <footer class="blockquote-footer">Song:<cite title="Source Title"> {{ item.song.name }}</cite></footer>
      </blockquote>
    </div>
  </div>
  </a>
{% endfor %}
  </div>

{% endblock %}

<div class="card">
  <div class="card-header">
    {{ item.title }}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{ item.content }}</p>
      <footer class="blockquote-footer">{{ item.song.name }}<cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
